h1{ 
    background-color:CORAL;
            color:bisque;
        }
        p{
            background-color: rgb(255, 253, 127);
            color:blue;
        }
        body{
           background-color: aquamarine; 
        }